<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Exac Burden Calculator</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
    body {
      padding-top: 50px;
    }

    .checkbox {
      margin-top: 0;
    }
    </style>

  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Exac Burden Calculation</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div>
        <h1>Burden Calculation Configuration</h1>
        {% if errors %}
        <div class="alert alert-danger">
          <ul>
          {% for error in errors %}
            <li>{{ error }}</li>
          {% endfor %}
          </ul>
        </div>
        {% endif %}

        <form method="POST" action="/">
          <div class="row">
            <div class="form-group col-lg-4">
              <label for="cases" class="control-label" data-toggle="tooltip" data-placement="top" title="Enter number of cases (samples) in your study">Number of cases</label>
              <input name="cases" type="text" class="form-control" id="cases" placeholder="Value" value="{{ form.cases }}">
            </div>
          </div>

          <div class="row">
            <div class="form-group col-lg-4">
              <label for="filter_type" class="control-label" data-toggle="tooltip" data-placement="top" title="Select variant impact predcition method">Filter Type</label>
              <select id="filter_type" name="filter_type" class="form-control">
                {% for opt in ('CADD', 'Condel', 'Sift', 'Polyphen') %}
                  <option value='{{ opt.lower() }}' {% if (opt.lower() == form.filter_type) %} selected="selected" {% endif %}>{{ opt }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group col-lg-4">
              <label for="filter_value" class="control-label" data-toggle="tooltip" data-placement="top" title="Enter score cutoff for the filter type tool selected above">Filter Value</label>
              <input name="filter_value" type="text" class="form-control" id="filter_value" placeholder="Value" value="{{ form.filter_value }}">
            </div>
          </div>

          <div class="row">
            <div class="form-group col-lg-4">
              <label for="filter_af_pop" class="control-label" data-toggle="tooltip" data-placement="top" title="Select comparison dataset and population">Population Filter</label>
              <select id="filter_af_pop" name="filter_af_pop" class="form-control">
                {% for display, opt in (('All', 'exac_all'), ('African/African American', 'exac_african'), ('Latino', 'exac_latino'), ('East Asian', 'exac_east_asian'), ('Finnish', 'exac_fin'), ('Non-Finnish European', 'exac_nonfin_eur'), ('South Asian', 'exac_south_asian'), ('Other', 'exac_other')) %}
                  <option value='{{ opt }}' {% if (opt == form.filter_af_pop) %} selected="selected" {% endif %}>{{ display }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group col-lg-4">
              <label for="filter_af_value" class="control-label" data-toggle="tooltip" data-placement="top" title="Enter allele frequency cutoff for the dataset selected above">Allele Frequency Filter Value</label>
              <input name="filter_af_value" type="text" class="form-control" id="filter_af_value" placeholder="Value" value="{{ form.filter_af_value }}">
            </div>
          </div>

          <div class="row">
            <div class="form-group col-lg-4">
              <label for="filter_option_high_impact" class="control-label" data-toggle="tooltip" data-placement="top" title="Select additional filtering options below">Filter Options</label>
              <div class="checkbox">
                <label  data-toggle="tooltip" data-placement="top" title="Inlcude high impact mutations (stop_gained, frameshift_variants) to gene burden"><input type="checkbox" id="filter_option_high_impact" name="filter_option_high_impact" {% if form.get('filter_option_high_impact') %}checked{% endif %}>
                  Include high impact
                </label>
              </div>
              <div class="checkbox">
                <label  data-toggle="tooltip" data-placement="top" title="Do not include splice region variants to gene burden"><input type="checkbox" id="filter_option_splice" name="filter_option_splice" {% if form.get('filter_option_splice') %}checked{% endif %}> Exclude splice</label>
              </div>
           </div>
         </div>

          <div class="row">
            <div class="form-group col-lg-12">
              <label for="burdens" class="control-label" data-toggle="tooltip" data-placement="top" title="Enter each gene and its burden separated by a comma, one per line. For example 'TPTE,12'.">Genes and Burdens</label>
              <textarea id="burdens" name="burdens" class="form-control" rows="5" placeholder="Enter each gene and its burden separated by a comma, one per line. For example 'TPTE,12'.">{{ form.burdens }}</textarea>
            </div>
          </div>


          <div class="row">
            <div class="form-group col-lg-12">
              <button type="submit" class="btn btn-primary">Analyze...</button>
              <button type="button" class="btn btn-link" id="prepopulate_btn">Use prepopulated example</button>
            </div>
          </div>

        </form>
      </div>

    </div><!-- /.container -->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
      $('#prepopulate_btn').on('click', function (e) {
        $('#filter_type').val('condel');
        $('#filter_value').val('0.5');
        $('#cases').val('100');
        $('#filter_af_pop').val('exac_all');
        $('#filter_af_value').val('0.001');
        $('#filter_option_high_impact').attr("checked", true);
        $('#burdens').val('ADAMTS1,2\nCSTB,5\nDYRK1A,3\nERG,2\nETS2,1\nMIR125B2,1\nNRIP1,3\nOLIG2,2\nPTTG1IP,1\nRUNX1,1\nS100B,2\nTFF1,6\nTFF2,4\nTFF3,5\nTIAM1,1\nTMPRSS2,1\nTMPRSS3,2');
      })
    </script>
    <script>
      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip( { placement: 'right' } );
      })
    </script>
  </body>
</html>
